 /* #imgs3 {
  		background-image: url("../images/shop1.png");
  		width: 50%;
  		height: 80%; 
  		display: block;
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: grey;
  		padding-top: 70px;
    }

    #imgs4{
  		width: 50%;
  		height: 80%; 
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: tomato;
  		padding-top: 70px;
  		padding-left: 150px;
  		padding-right: 100px;
    }

    #imgs5{
  		width: 50%;
  		height: 80%; 
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: grey;
  		padding-top: 70px;
  		padding-left: 150px;
  		padding-right: 100px;
    }

    #imgs6{
  		background-image: url("../images/reminder.jpeg");
  		width: 50%;
  		height: 80%; 
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: grey;
  		padding-top: 70px;
  		padding-left: 150px;
  		padding-right: 100px;
    }

    #imgs7{
  		background-image: url("../images/sales.jpg");
  		width: 50%;
  		height: 80%; 
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: grey;
  		padding-top: 70px;
  		padding-left: 150px;
  		padding-right: 100px;
    }

    #imgs8{
  		width: 50%;
  		height: 80%; 
	    background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-color: black;
  		padding-top: 70px;
  		padding-left: 150px;
  		padding-right: 100px;
    }*/